<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.mprog.projects.npuzzle10385827"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartActivity"
            android:label="@string/title_activity_start" />
        <activity
            android:name=".DifficultyActivity"
            android:label="@string/title_activity_difficulty" >
        </activity>
        <activity
            android:name=".LeaderActivity"
            android:label="@string/title_activity_leader" >
        </activity>
        <activity
            android:name=".ImageActivity"
            android:label="@string/title_activity_image" >
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".ImageActivity2"
            android:label="@string/title_activity_image_activity2" >
        </activity>
        <activity
            android:name=".ImgaeActivity3"
            android:label="@string/title_activity_imgae_activity3" >
        </activity>
        <activity
            android:name=".ImageActivity3"
            android:label="@string/title_activity_image_activity3" >
        </activity>
        <activity
            android:name=".LocalActivity"
            android:label="@string/title_activity_local" >
        </activity>
        <activity
            android:name=".WorldActivity"
            android:label="@string/title_activity_world" >
        </activity>
        <activity
            android:name=".CongratsActivity"
            android:label="@string/title_activity_congrats" >
        </activity>
        <activity
            android:name=".SolutionActivity"
            android:label="@string/title_activity_solution" >
        </activity>
        <activity
            android:name=".Difficulty2Activity"
            android:label="@string/title_activity_difficulty2" >
        </activity>
        <activity
            android:name=".GameMenuActivity"
            android:label="@string/title_activity_game_menu" >
        </activity>
    </application>

</manifest>
